.chessBoardWrap {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -50vw;
}

.gameTurnWrap {
    position: fixed;
    bottom: 0.5rem;
    width: 30%;
    left: 35%;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 0.2rem 0;
}

.gameMyTurn {
    background-color: #eaff8f;
    color: #314659;
}

.gameOtherTurn {
    background-color: #ffa39e;
    color: #314659;
}

.gameWolfInit {
    width: 50%;
    left: 25%;
}

.createWolf {
    position: fixed !important;
    bottom: 1.5rem;
    width: 20%;
    left: 40%;
}